# Global repositories will not be added, if set to "false"
use-global-repos: false
# Default location
boxed_plugin_conf: /etc/berrymill/kiwi_boxed_plugin.yml

# Repository setup
repos:
  # These below are repo names.
  # They are just free form tags that are addressed later
  release:
    # Architecture
    # Conforms to Debian standard: https://wiki.debian.org/SupportedArchitectures
    amd64:
     # Just an alias of the repo, free form
      Ubuntu-Jammy:
        # Components are defined for a non-flat repos (default Debian)
        url: http://ftp.halifax.rwth-aachen.de/ubuntu/
        type: apt-deb
        # Example key file
        # key: file:///example/directory/with/key/build_key_ubuntu_jammy.gpg

        # Distro name
        name: jammy
        components: main,universe,multiverse,restricted
      Corbos-Linux:
        url: http://linux.elektrobit.com/corbos
        type: apt-deb
        key: file:///etc/berrymill/keyrings.d/repo_eb_gm.pub.gpg

        name: corbos
        components: testing

        # no "key" defined -> berrymill will try and look for key
        # Currently automatic lookup online only works if your Repo is a flat repo and does not have components
        # Otherwise berrymill will prompt you with a selection of your trusted keys in (/etc/apt/trusted.gpg.d)
        # no "name" defined, therefore repo format is flat
        # no "compoments" defined, therefore repo format is flat

    arm64:
      # Just an alias of the repo, free form
      Ubuntu-Jammy:
        url: http://ports.ubuntu.com/
        type: apt-deb
        # Example key file
        # key: file:///example/directory/with/key/build_key_ubuntu_ports_jammy.gpg

        name: jammy
        components: main,universe,multiverse,restricted

      Corbos-Linux:
        url: http://linux.elektrobit.com/corbos
        type: apt-deb
        key: file:///etc/berrymill/keyrings.d/repo_eb_gm.pub.gpg

        name: corbos
        components: testing